/* 공통 CSS */
.topbackground {
    background-color: rgb(250, 206, 214);
    height: 70px;
    width: auto;
}

.topbackground>p {
    display: inline-block;
    font-size: small;
    margin: 15px 10px;
    justify-content: space-evenly;
    font-family: 'Poly', georgia, serif;

}

.topbackground>p1 {
    display: inline-block;
    font-size: small;
    margin: 15px 10px;
    float: right;
    font-family: 'Poly', georgia, serif;
}

a {
    text-decoration: none;
    color: black
}

.clothingon {
    color: black;
    text-align: center;
    margin: 8px 0px;
    font-size: 40px;
    font-family: 'Poly', georgia, serif;
}

h1 {
    text-align: center;
    color: brown;
}

.season {
    display: flex;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li {
    list-style: none;
}

/* #list1>li,
#list2>li,
#list3>li,
#list4>li {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'twaysky';
} */

.menubackground {
    display: flex;
}

.bestbackground {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* margin-top: 300px; */
}

.bestbackground>img {
    padding: 10px;
}

.footer {
    position: fixed;
    line-height: 100px;
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bottombackground {
    opacity: 0.5;
    padding: 0px 50px;
    text-align: center;
    line-height: 50px;
}

.bottombackground2 {
    display: inline-flex;
    background-color: rgb(250, 206, 214);
    height: 50px;
    width: 100%;
    bottom: 10px;
    opacity: 0.7;
    bottom: 10px;
    text-align: center;
    align-items: center;
    line-height: 50px;
    justify-content: center;
    bottom: 0;
}

span {
    display: inline;
    font-size: small;
    margin: 10px;
    justify-content: space-evenly;
    font-family: 'Poly', georgia, serif;
    font-size: 10px;
    cursor: pointer;
}

.right_message {
    float: right;
}

.kakao {
    transform: translate(10px );
}